ORIGINS='["http://localhost", "http://localhost:8003", "http://localhost:3000"]'
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
KNOWLEDGE_BASE_ID=
BASE_URL=
BEDROCK_REGION=us-east-1
API_KEY="Your Flotorch api key"
FASTAPI_SERVICE=http://localhost:8003
MODELS= "List of models in json format"